.Whole__MainDialogue{
    display: flex;
    flex-direction: column;

}


.dialogue3__topBar{
display: flex;
height: 51.744px;
width: 50vw;
margin-left: 25%;
padding: 15.136px 30.273px;
flex-direction: column;
align-items: center;
gap: 7.568px;
border-radius: 29.35px 29.35px 0px 0px;
border-bottom: 0.757px solid rgba(126, 126, 126, 0.25);
background: #73D896;
}

.topbar3__InnerContainer{
display: flex;
width: 50vw;
justify-content: space-between;
align-items: center;
}

.innerText__Dialogue3{
    color: #FFF;
font-family: Poppins;
font-size: 21.191px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.Dialogue3__CrossIcon{
width: 51.497px;
height: 51.497px;
flex-shrink: 0;
margin-left: 55%;


}

.Dialogue__CenterContainer{
   display: flex;
flex-direction: column;
align-items: center;
gap: 16.77px;

width: 50vw;
margin-left: 25%;
}

.dialogue__TopHeading{
    display: flex;
}
.Dialogue__CenterContainer{
padding: 0;
margin-top: 1%;
}

.dialogue__TopHeadingTExt{
    color: #FE7A72;
text-align: center;
font-family: Poppins;
font-size: 25.155px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.dialogue__InnerText{
    width: 40vw;
}

.dialogue__three__button{
    margin-top: 2%;
}

.Dialogue__text{
    color: #1E1E1E;
text-align: center;
font-family: Poppins;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


.dialogue__button__First{
    display: flex;
padding: 30px 50px;
justify-content: center;
align-items: center;
gap: 10px;
align-self: stretch;
border-radius: 80.19px;
background: #FE7A72;
width: 30vw;    
}


.dialogue__button__Second
{
    margin-top: 2%;
    display: flex;
padding: 30px 50px;
justify-content: center;
align-items: center;
gap: 10px;
align-self: stretch;
border-radius: 80.19px;
background: #73D896;
width: 30vw;    
}

.dialogue__button__Third{
    margin-top: 2%;
    
    display: flex;
padding: 30px 50px;
justify-content: center;
align-items: center;
gap: 10px;
align-self: stretch;
border-radius: 80.19px;
background: #004AAD;
width: 30vw;    
}


.dialogue__firstButtonText{
    color: #FFF;
text-align: center;
font-family: Inter;
font-size: 19px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.Dialogue2CneterContainer{
    margin-top: 50px;

}

.dialogue__upload{
    width: 236.455px;
height: 236.455px;
}