.Table__topNavbar {
  display: flex;
height: 112px;
padding: 0px 115px 0px 2px;
justify-content: flex-end;
align-items: center;
gap: 296px;
width: 98vw;
flex-shrink: 0;
align-self: stretch;
}

.Table__topHeading {
  display: flex;
}
.Table__topHeading > svg {
  width: 27.646px;
  height: 28.729px;
  flex-shrink: 0;
}

.Table__topHeading__rightSide {
  margin-left: 20px;
}

.Table__top__Button > ul {
  list-style: none;
  display: flex;
  padding: 14.406px;
  align-items: flex-start;
  gap: 5.763px;
  margin-right: 22px;
}

.Table__top__Button__listing {
  display: flex;
  padding: 14.406px;
  align-items: flex-start;
  gap: 5.763px;
  border-radius: 40.619px;
  border: 1px solid #004aad;
  background: rgba(0, 74, 173, 0.3);
}

.list__innerText {
  color: #004aad;
  font-family: Poppins;
  font-size: 15.467px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.Table__MiddleNavbar__tableActionPage{
display: flex;
padding: 0px 10px;
align-items: center;
margin-left: 3%;
margin-top: 2%;
}

.MiddleNavbar__MidText{
    color: #000;
text-align: center;
font-family: Inter;
font-size: 15.677px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.MiddleNavbar__Arrow{
display: flex;
padding: 0px 10px;
align-items: center;
}

.MiddleNavbar__Container__TableActionPage{
display: flex;
padding: 0px 10px;
align-items: center;

}

.MiddleNavbar__HomeContainer__TableActionPage{
    display: flex;
    align-items: center;
}

.MiddleNavbar__ForwardContainer__Page{
display: flex;
padding: 10px;
justify-content: center;
align-items: center;
gap: 10px;
}


.MiddleNavbarInnerText{
    color: #606C80;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}



.TAP10__MiddleNavbarSecond__container{
display: flex;
padding: 10px;
align-items: flex-start;
gap: 10px;}


.TAP10__MiddleNavbar__InnerForwardArrow{
    margin-top: 2px;
}

.TableActionPage10__MainTopNavbar{
    width: 90vw;
    margin-left: 5%;
    margin-top: .2%;
}

.main__InnerTableActionpage10{
    display: flex;
padding: 15px 30px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
border-radius: 5px;
background: rgba(97, 115, 251, 0.16);
height: 6vh;
}

.innerTableActionPAge10Text{
    color: #004AAD;
text-align: center;
font-family: Poppins;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.Information__Container__tableActionPage10__Whole{
    width: 90vw;
    margin-left: 5%;
margin-top: .2%;
}
.Information__Container__tableActionPage10{
    display: flex;
padding: 10px;
align-items: flex-start;
gap: 100px;
}

.IInformation__first{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 22px;
  
    
}

.IInformation__first__Text{
    
    color: #606C80;
text-align: center;
font-family: Poppins;
font-size: 22.057px;
font-style: normal;
font-weight: 500;
line-height: normal;
}




.Information__Container__tableActionPage10__Whole3{
    width: 90vw;
    margin-left: 5%;
margin-top: 2%;

}

.TAP10__ImageContainer{
  height: 10vh;
  width: 5vw;
}